
body{
    font-family: 'Times New Roman', Times, serif; 
    margin: 20px; padding: 0;
    background-color: rgba(255, 253, 253, 0.533);
  }
  img{
    width: 100px;
    height: 150px;
  }
  
  h1{
    text-align: center; 
  }
  
  form{
    max-width: 600px; 
    margin: auto;
    background-color: rgb(180, 180, 219);
  }
  
  fieldset{
   border-radius:8px;
   padding: 20px; 
   margin-bottom: 20px; 
   background-color: rgb(247, 247, 247);
  }
  
  legend{
   font-weight:bold;
   text-align:center;
   color:口#2d3a4e;
   font-size: 40px;
  }
  
  label{
   display: block; 
   margin-top: 10px;
   color:#2c3e50;
  }
  
  input,textarea{
   width: calc(100% - 1px);
   padding: 8px; 
   margin-top: 4px;
   border: 1px solid #022d3d; 
   border-radius: 4px; 
   box-sizing: border-box;
  }
  
  
  button{
   display: block; 
   width: 100px; 
   padding: 10px; 
   background-color:■rgb(46, 217, 239);
   color: #f70a0a;
   border: none; 
   border-radius: 4px;
   cursor: pointer; 
   margin-top: 10px; 
   font-size: 18px;
   font-family: 'Times New Roman', Times, serif;
  }
  
  button:hover{
     background-color:■#143044;
  }

  #resumeOutput{

    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid #3498bd;
    border-radius: 8px;
    background-color: aliceblue;
    box-shadow: 0 4px 8px rgba(0 0 0 0 5);

  }

  #resumeOutput h2{

    color: #2c3e50;
  }